#covid19sidebarplotarea {
  width: 286px;
  height: 286px;
  border: 1px solid #d3d3d3;
}

#covid19sidebarplotarea > h3:first-child {
  margin: 3px 5px 0 5px;
}

#covid19sidebarplotarea h3 {
  margin: 0 5px;
  text-align: center;
  font-weight: lighter;
}

#covid19sidebarplotarea {
  font-family: Georgia, serif;
}

#covid19sidebarcontrols {
  height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.covid19sidebarinput {
  margin: 0;
  width: 80px;
  background-color: #d3d3d366;
  border-radius: 5px;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.covid19sidebarinput:hover {
  cursor: pointer;
}

#covid19sidebarcontrols .selected {
  background-color: #d3d3d3;
}

#covid19sidebarplots .selectedPlot {
  display: block;
}

#covid19sidebarplots svg {
  display: none;
}

#covid19sidebarsource {
  margin: 7px 0 0 25px;
  font-size: 10pt;
  text-align: right;
}
#covid19sidebarplots .svgtxt,
#covid19sidebarplots .tooltip,
#covid19sidebarplots .tooltipvac {
  font-family: Georgia, serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#covid19sidebarplots .tooltip {
  position: relative;
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 3px;
  width: 160px;
}
#covid19sidebarplots .tooltipvac {
  position: relative;
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 3px;
  width: 180px;
}
#covid19sidebarplots .tooltipdate {
  font-size: 10pt;
}

#covid19sidebarplots .tooltip hr,
#covid19sidebarplots .tooltipvac hr {
  margin: 3px 0;
  border: none;
  border-top: 1px solid black;
}

#covid19sidebarvaccineTrackerDiv,
#covid19sidebardailyTrackerDiv,
#covid19sidebartotalTrackerDiv {
  /* display: absolute; */
  position: absolute;
}

#covid19sidebarplots {
  height: 215px;
}

#covid19sidebarsource a {
  color: black;
  text-decoration: none; /* no underline */
}
